<adf-upload-drag-area [rootFolderId]="currentFolderId" [disabled]="!canUpload">
  <adf-sidenav-layout
    #layout
    [sidenavMin]="70"
    [sidenavMax]="320"
    [stepOver]="600"
    [hideSidenav]="hideSidenav"
    [expandedSidenav]="expandedSidenav"
    (expanded)="onExpanded($event)"
  >
    <adf-sidenav-layout-header>
      <ng-template>
        <app-header
          *ngIf="!hideSidenav"
          (toggleClicked)="layout.toggleMenu($event)"
        >
        </app-header>
      </ng-template>
    </adf-sidenav-layout-header>

    <adf-sidenav-layout-navigation>
      <ng-template let-isMenuMinimized="isMenuMinimized">
        <!-- <app-sidenav
          [showLabel]="!isMenuMinimized()"
          (swipeleft)="hideMenu($event)"
        ></app-sidenav> -->
        <app-sidenav [mode]="!isMenuMinimized() ? 'minimized' : 'maximized'">
          <app-sidenav-list *linkList="let list" [list]="list">
            <ng-template let-item="$implicit">
              <app-link-item [item]="item"></app-link-item>
            </ng-template>
          </app-sidenav-list>

          <app-sidenav-list *iconList="let list" [list]="list">
            <ng-template let-item="$implicit">
              <app-icon-link-item [item]="item"></app-icon-link-item>
            </ng-template>
          </app-sidenav-list>
        </app-sidenav>
      </ng-template>
    </adf-sidenav-layout-navigation>

    <adf-sidenav-layout-content>
      <ng-template> <router-outlet></router-outlet> </ng-template>
    </adf-sidenav-layout-content>
  </adf-sidenav-layout>

  <adf-file-uploading-dialog position="left"></adf-file-uploading-dialog>
</adf-upload-drag-area>
