<div class="sidenav">
  <ng-container [ngSwitch]="mode">
    <ng-container *ngSwitchCase="'collapsed'">
      <div
        *ngFor="let group of groups; trackBy: trackById"
        class="sidenav-section"
      >
        <div class="section__list">
          <div
            *ngFor="let item of group.items; trackBy: trackById"
            class="list_item"
          >
            <ng-container *ngIf="linkListTemplate">
              <ng-template
                [ngTemplateOutlet]="linkListTemplate"
                [ngTemplateOutletContext]="{ $implicit: item }"
              >
              </ng-template>
            </ng-container>

            <ng-container *ngIf="!linkListTemplate">
              <app-sidenav-list [list]="item">
                <ng-template let-item="$implicit">
                  <app-link-item [item]="item"></app-link-item>
                </ng-template>
              </app-sidenav-list>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'expanded'">
      <div
        *ngFor="let group of groups; trackBy: trackById"
        class="sidenav-section"
      >
        <div class="section__list">
          <div
            *ngFor="let item of group.items; trackBy: trackById"
            class="list_item"
          >
            <ng-container *ngIf="iconListTemplate">
              <ng-template
                [ngTemplateOutlet]="iconListTemplate"
                [ngTemplateOutletContext]="{ $implicit: item }"
              >
              </ng-template>
            </ng-container>

            <ng-container *ngIf="!iconListTemplate">
              <app-sidenav-list [list]="item">
                <ng-template let-item="$implicit">
                  <app-icon-link-item [item]="item"></app-icon-link-item>
                </ng-template>
              </app-sidenav-list>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
