@import 'mixins';

.aca-search-results-row {
  @include flex-column;
}

.adf-data-table-card .adf-datatable-body .adf-datatable-table-cell {
  flex: 1;
}

.adf-datatable-gallery-thumbnails .adf-data-table-card .adf-datatable-row img {
  height: 140px;
}

.line {
  margin: 5px 0;
}

.bold {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.link:hover {
  color: #2196f3;
  text-decoration: underline;
}
